.
(START_SSS)

.
MATRIX  LF510.mtb

.
InputBinaryOutAR  LF510_AR.ssb

InputBinaryOutAR LF510_XXXXX_TMP_0_AR.ssb
InputBinaryOutAR LF510_XXXXX_TMP_1_AR.ssb
.
METHOD  Arnoldi

.
SENSITIVITY PARA

.
OUT_ANGLE Y

.
(END_SSS)

